In [3]:
import pandas as pd

In [1]:
d = {'age': [18,67,78,67,78,24,25,45, 30,45,34,43, 20,27,28,31, 40, 55],
'bad_loans': [18,67,78,67,78,24,25,45, 30,45,34,43, 20,27,28,31, 40, 55]}

In [8]:
category = ['Generation Z','Millennials', 'Generation X', 'Baby Boomers', 'The Silent Generation']

In [24]:
df1['bin_freq']=pd.cut(df1['age'], 5)
df1

    age       bin_freq
0    18  (17.94, 30.0]
1    67   (66.0, 78.0]
2    78   (66.0, 78.0]
3    67   (66.0, 78.0]
4    78   (66.0, 78.0]
5    24  (17.94, 30.0]
6    25  (17.94, 30.0]
7    45   (42.0, 54.0]
8    30  (17.94, 30.0]
9    45   (42.0, 54.0]
10   34   (30.0, 42.0]
11   43   (42.0, 54.0]
12   20  (17.94, 30.0]
13   27  (17.94, 30.0]
14   28  (17.94, 30.0]
15   31   (30.0, 42.0]
16   40   (30.0, 42.0]
17   55   (54.0, 66.0]

In [23]:
df1 = pd.DataFrame(d['age'])
df1.columns = ['age']
df1

    age
0    18
1    67
2    78
3    67
4    78
5    24
6    25
7    45
8    30
9    45
10   34
11   43
12   20
13   27
14   28
15   31
16   40
17   55

In [28]:
df['category']=pd.cut(df1['age'], 5,labels=category)
df

    age     binned               category
0    18   (14, 21]           Generation Z
1    67  (55, 100]  The Silent Generation
2    78  (55, 100]  The Silent Generation
3    67  (55, 100]  The Silent Generation
4    78  (55, 100]  The Silent Generation
5    24   (21, 41]           Generation Z
6    25   (21, 41]           Generation Z
7    45   (41, 55]           Generation X
8    30   (21, 41]           Generation Z
9    45   (41, 55]           Generation X
10   34   (21, 41]            Millennials
11   43   (41, 55]           Generation X
12   20   (14, 21]           Generation Z
13   27   (21, 41]           Generation Z
14   28   (21, 41]           Generation Z
15   31   (21, 41]            Millennials
16   40   (21, 41]            Millennials
17   55   (41, 55]           Baby Boomers

In [34]:
pd.value_counts(df1['bin_freq'])

(17.94, 30.0]    7
(66.0, 78.0]     4
(42.0, 54.0]     3
(30.0, 42.0]     3
(54.0, 66.0]     1
Name: bin_freq, dtype: int64

In [30]:
df = pd.DataFrame(d['bad_loans'])
df.columns = ['bad_loans']
df

    bad_loans
0          18
1          67
2          78
3          67
4          78
5          24
6          25
7          45
8          30
9          45
10         34
11         43
12         20
13         27
14         28
15         31
16         40
17         55

In [33]:
df['binned']=pd.cut(x=df['bad_loans'], bins=[0,30,50,100])
df

    bad_loans     binned
0          18    (0, 30]
1          67  (50, 100]
2          78  (50, 100]
3          67  (50, 100]
4          78  (50, 100]
5          24    (0, 30]
6          25    (0, 30]
7          45   (30, 50]
8          30    (0, 30]
9          45   (30, 50]
10         34   (30, 50]
11         43   (30, 50]
12         20    (0, 30]
13         27    (0, 30]
14         28    (0, 30]
15         31   (30, 50]
16         40   (30, 50]
17         55  (50, 100]